.advantage {
  padding-top: 112px;

  @media (max-width: $tablet-width-only) {
    padding-top: 55px;
  }

  @media (max-width: $mobile-width-only) {
    padding-top: 37px;
  }
}

.advantage ul {
  list-style: none;
}

.advantage-company-bg {
  background-image: url("../img/bg-desktop.svg");
  background-repeat: no-repeat;
  background-size: 1860px 1225px;
  background-position: 65px -30px;

  @media (max-width: $tablet-width-only) {
    background-image: url("../img/bg-tablet.svg");
    background-size: 870px 870px;
    background-position: 207px 93px;
  }

  @media (max-width: $mobile-width-only) {
    background-image: none;
  }
}

.advantage__list {
  @include mapa;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
}

.advantage__item {
  position: relative;
  background-color: $white;
  padding: 37px 40px 66px 43px;
  margin-bottom: 32px;
  border: 1px solid #ebebeb;
  border-left: 3px solid $cyan;
  transition: 0.5s;
  width: 48.7%;
  min-height: 297px;

  @media (max-width: $tablet-width-only) {
    padding: 23px 25px 20px 24px;
    margin-bottom: 30px;
    width: 48%;
    min-height: 307px;
  }

  @media (max-width: $mobile-width-only) {
    border-left: 2px solid $cyan;
    padding: 20px 1px 22px 25px;
    margin-bottom: 20px;
    width: 100%;
    min-height: 250px;

    &:first-child {
      padding-right: 10px;
    }
  }

  @media (max-width: 500px) {
    min-height: 310px;
  }
}

.advantage__item:hover {
  h3,
  svg,
  p {
    color: $white;
    fill: $white;
    transition: 0.5s;
  }

  background-color: $cyan;
  border: 1px solid $cyan;
  border-left: 3px solid $cyan;
  transition: 0.5s;
}

.advantage__item:nth-last-child(-n+2) {
  @media (max-width: $tablet-width-only) {
    min-height: 232px;
  }

  @media (max-width: $mobile-width-only) {
    min-height: 232px;
  }
}

.advantage__item--padding {
  @media (max-width: $tablet-width-only) {
    padding-right: 10px;
  }
}

.advantage svg {
  display: block;
  fill: $cyan;
  transition: 0.5s;
}

.advantage h3 {
  margin: 0;
  padding-top: 20px;

  @include font(24px, 34px, 400);

  font-family: "Roboto Condensed", "Arial", sans-serif;
  color: $cyan;

  @media (max-width: $tablet-width-only) {
    padding-top: 8px;
  }

  @media (max-width: $mobile-width-only) {
    @include font(20px, 28px, 400);

    padding-top: 13px;
  }
}

.advantage p {
  @include font;

  margin: 0;
  padding-top: 15px;
  color: $gray;
  letter-spacing: -0.026em;

  @media (max-width: $tablet-width-only) {
    padding-top: 6px;
  }

  @media (max-width: $mobile-width-only) {
    padding-top: 8px;
    line-height: 22px;
    letter-spacing: -0.026em;
  }
}
