.advantage {
  padding-top: 112px;

  @media (max-width: $tablet-width-only) {
    padding-top: 55px;
  }

  @media (max-width: $mobile-width-only) {
    padding-top: 37px;
  }
}

.advantage__list {
  @include mapa;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
}

.advantage__item {
  position: relative;

  @include mapa;

  width: 48.7%;
  background-color: $white;

  @media (max-width: $tablet-width-only) {
    width: 48%;
    min-height: 307px;
  }

  @media (max-width: $mobile-width-only) {
    width: 100%;
    min-height: 307px;
  }
}

.advantage__item a {
  display: block;
  margin: 0;

  padding: 40px 40px 66px 43px;
  margin-bottom: 32px;
  border: 1px solid #ebebeb;
  border-left: 3px solid $cyan;
  min-height: 297px;
  transition: 0.5s;

  @media (max-width: $tablet-width-only) {
    padding: 20px 25px 20px 24px;
    margin-bottom: 30px;
    min-height: 307px;
  }

  @media (max-width: $mobile-width-only) {
    border-left: 2px solid $cyan;
    padding: 23px 15px 22px 25px;
    margin-bottom: 20px;
    min-height: 309px;
  }
}

.advantage__item:nth-last-child(-n+2) {
  @media (max-width: $tablet-width-only) {
    min-height: 232px;

    a {
      min-height: 232px;
    }
  }

  @media (max-width: $mobile-width-only) {
    min-height: 235px;

    a {
      min-height: 235px;
    }
  }
}

.advantage__item--padding a {
  @media (max-width: $tablet-width-only) {
    padding-right: 10px;
  }
}

.advantage svg {
  display: block;
  color: $cyan;
  transition: 0.5s;
}

.advantage__icon-tag {
  @media (max-width: $tablet-width-only) {
    width: 31px;
    height: auto;
  }
}

.advantage a {
  &:hover {
    h3,
    svg,
    p {
      color: $white;
      transition: 0.5s;
    }

    background-color: $cyan;
    border: 1px solid $cyan;
    border-left: 3px solid $cyan;
    transition: 0.5s;
  }
}

.advantage h3 {
  margin: 0;
  padding-top: 17px;

  @include font(24px, 34px, 400);

  font-family: "Roboto Condensed", "Arial", sans-serif;
  color: $cyan;

  @media (max-width: $tablet-width-only) {
    padding-top: 11px;
  }

  @media (max-width: $mobile-width-only) {
    @include font(20px, 28px, 400);

    padding-top: 13px;
  }
}

.advantage p {
  @include font;

  margin: 0;
  padding-top: 15px;
  color: $gray;
  letter-spacing: -0.026em;

  @media (max-width: $tablet-width-only) {
    padding-top: 9px;
  }

  &.advantage__spacing {
    @media (max-width: $mobile-width-only) {
      letter-spacing: -0.05em;
    }
  }
}
