.company {
  padding-top: 72px;
  padding-bottom: 98px;

  @media (max-width: $tablet-width-only) {
    padding-top: 18px;
    padding-bottom: 77px;
  }

  @media (max-width: $mobile-width-only) {
    padding-top: 34px;
    padding-bottom: 65px;
  }
}

.company__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.company__image-box {
  position: relative;
  width: 114px;
  height: 306px;
  margin-top: 15px;

  @media (max-width: $tablet-width-only) {
    width: 130px;
    height: 350px;
  }

  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.company img {
  display: block;
  position: absolute;
  left: 3px;
  top: 0;
  width: 100%;
  height: auto;
}

.company__text-box {
  width: 84.5%;

  @media (max-width: $tablet-width-only) {
    width: 74%;
    padding-top: 8px;
  }

  @media (max-width: $mobile-width-only) {
    width: 100%;
  }
}

.company h2 {
  @include font(36px, 51px, 400);

  font-family: "Roboto Condensed", "Arial", sans-serif;
  margin: 0;
  padding-bottom: 23px;

  @media (max-width: $tablet-width-only) {
    @include font(32px, 45px, 400);
  }

  @media (max-width: $mobile-width-only) {
    @include font(28px, 40px, 400);
    padding-bottom: 21px;
  }
}

.company p {
  margin: 0;
  padding-bottom: 21px;
  padding-right: 5px;
  letter-spacing: -0.026em;

  @include font;

  line-height: 22px;
  color: $gray;

  @media (max-width: $tablet-width-only) {
    padding-right: 0;
    padding-bottom: 20px;
  }

  @media (max-width: $mobile-width-only) {
    padding-bottom: 39px;
  }
}

.company__dot {
  display: none;

  @media (max-width: $tablet-width-only) {
    display: inline;
  }
}

.company__hidden-text {
  @media (max-width: $tablet-width-only) {
    display: none;
  }
}

.company .button {
  @include font(14px, 16px, 700);

  width: 180px;
  margin: 0;
  margin-top: 17px;
  padding: 14px 27px 14px;
  letter-spacing: 0.05em;
  color: $cyan;
  border: 1px solid $cyan;
  background-color: $white;

  &:hover {
    background-color: $cyan;
    color: $white;
    border: 1px solid $cyan;
    transition: 0.5s;
  }

  @media (max-width: $tablet-width-only) {
    margin-top: 21px;
    padding: 13px 27px 14px;
  }

  @media (max-width: $mobile-width-only) {
    width: 50%;
    margin-top: -10px;
    padding: 13px 27px 14px;
  }

  @media (max-width: 500px) {
    width: 180px;
  }
}
