.page-header {
  position: relative;
  background-color: $dark;
  background-image: url("../img/main-background-desktop@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  min-height: 878px;

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/main-background-desktop@2x.jpg");
  }

  @media (max-width: $tablet-width-only) {
    min-height: 696px;
  }
}

.page-header__wrapper {
  position: relative;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  margin: 0 auto;
  padding-top: 31px;

  &::before {
    position: absolute;
    z-index: 1;
    right: 267px;
    top: 270px;

    content: "";

    width: 611px;
    height: 487px;
    background: url("../img/main-triangle.svg");
    background-repeat: no-repeat;
    background-position: center top;
  }

  @media (max-width: 1600px) {
    &::before {
      right: 167px;
      top: 270px;
      width: 565px;
      height: 450px;
      background-size: cover;
      transition: 0.5s;
    }
  }

  @media (max-width: 1450px) {
    &::before {
      right: 100px;
      top: 270px;
      transition: 0.5s;
    }
  }

  @media (max-width: $tablet-width-only) {
    &::before {
      right: -168px;
      top: 92px;
      width: 480px;
      height: 385px;

    }
  }
}

.page-header__box-first {
  width: 1412px;
  max-width: 1412px;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  margin: 0 auto;
  transition: 0.5s;

  @media (max-width: 1450px) {
    padding-left: 30px;
    padding-right: 30px;
    transition: 0.5s;
  }

  @media (max-width: $tablet-width-only) {
    max-width: 720px;
    padding-left: 0;
    padding-right: 0;
  }
}

.page-header__box-logo {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  width: 202px;
}

.page-header__list-logo {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @include mapa;
  width: 134px;
}

.page-header p {
  width: 100%;
  @include mapa;
}

.page-header__item-logo:first-child p {
  font-family: "Roboto Condensed", "Arial", sans-serif;

  @include font(25px, 35px, 400);
  color: $white;
}

.page-header__item-logo:nth-child(2) p {
  @include font(12px, 14px, 500);
  color: $gray-light;
}

.page-header__icon-logo {
  display: block;
}

.page-header__list {
  @include mapa;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  width: 431px;
  margin-left: auto;
  margin-right: 48px;

  @media (max-width: $tablet-width-only) {
    width: 83px;
    margin-right: 0;
  }
}

.page-header a {
  display: block;

  @include mapa;
  color: $white;
}

.page-header__item a {
  display: flex;
  justify-content: space-between;
}

.page-header__item p {
  padding-left: 10px;

  @media (max-width: $tablet-width-only) {
    display: none;
  }
}

.page-header__item {
  &:hover svg {
    color: $white;
    transition: 0.5s;
  }
}

.page-header__icon-envelope,
.page-header__icon-phone {
  display: block;
  color: $cyan;
}

.page-header__icon-envelope {
  margin-right: 11px;

  @media (max-width: $tablet-width-only) {
    width: 25px;
    height: auto
  }
}

.page-header__icon-phone {
  margin-right: 4px;

  @media (max-width: $tablet-width-only) {
    width: 24px;
    height: auto;
    margin-right: 0;
  }
}

.page-header__list a {
  @include font(16px, 18px, 400);

  &:hover {
    color: $cyan;
    transition: 0.5s;
  }
}

a.page-header__button {
  text-transform: uppercase;
  letter-spacing: -0.05em;
  padding: 12px 24px 11px;
  border: 1px solid $white;
  border-radius: 5px;
  transition: 0.5s;

  &:hover {
    border: 1px solid $dark;
    background-color: $cyan;
    transition: 0.5s;
  }

  &:active {
    opacity: 0.2;
    transition: 0.2s;
  }

  @media (max-width: $tablet-width-only) {
    display: none;
  }
}

.page-header__box-second {
  position: relative;
  width: 1412px;
  max-width: 1412px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-top: 172px;

  @media (max-width: $tablet-width-only) {
    width: 720px;
    max-width: 720px;
    padding-top: 42px;
    justify-content: flex-start;
  }
}

.page-header__box-heading {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: flex-start;

  width: 720px;
  margin-right: 60px;
  transition: 0.5s;

  @media (max-width: 1450px) {
    padding-left: 30px;
    margin-right: 30px;
    transition: 0.5s;
  }

  @media (max-width: $tablet-width-only) {
    width: 100%;
    max-width: 485px;
    padding-left: 62px;
    padding-top: 16px;
    margin-right: 0;
  }
}

h1 {
  font-family: "Roboto Condensed", "Arial", sans-serif;

  @include font(80px, 94px, 700);

  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: $white;
  margin: 0;
  padding-top: 58px;

  @media (max-width: $tablet-width-only) {
    @include font(60px, 70px, 700);
  }
}

.page-header__box-heading p {
  @include font(22px, 34px, 400);

  position: relative;
  font-family: PT Mono;
  color: $white;
  padding-left: 94px;
  padding-top: 30px;
  padding-bottom: 44px;

  &::before {
    position: absolute;
    left: 3px;
    top: 45px;

    content: "";

    width: 66px;
    height: 2px;
    background-color: $white;
  }

  @media (max-width: $tablet-width-only) {
    @include font(18px, 28px, 400);

    padding-top: 29px;
    padding-left: 52px;
    padding-bottom: 55px;

    &::before {
      width: 33px;
    }
  }
}

.page-header__box-heading a {
  display: block;

  @include font(16px, 19px, 700);

  font-family: "Roboto Condensed", "Arial", sans-serif;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.01em;
  padding: 17px 47px 17px;
  margin-left: 94px;
  background-color: $cyan;
  border-radius: 5px;
  transition: 0.5s;

  &:hover {
    background-color: darken($cyan, 20%);
    transition: 0.5s;
  }

  &:active {
    opacity: 0.2;
    transition: 0.2s;
  }

  @media (max-width: $tablet-width-only) {
    min-width: 379px;
    padding: 17px 31px 19px;
    margin-left: auto;
    margin-right: -7px;
  }
}

.page-header__box-second img {
  position: relative;
  z-index: 2;
  display: block;
  margin: 0;
  margin-right: -75px;
  width: 705px;
  height: auto;
  transition: 0.5s;

  @media (max-width: 1600px) {
    width: 600px;
    height: auto;
    margin-right: 0;
    transition: 0.5s;
  }
  @media (max-width: 1450px) {
    width: 575px;
    padding-right: 50px;
  }

  @media (max-width: $tablet-width-only) {
    // position: absolute;
    // left: calc(50% + 100px);
    // top: 0;
    width: 465px;
    padding-right: 0;
    margin-right: -270px;
  }
}

.page-header__scroll {
  position: absolute;
  left: calc(50% - 745px);
  bottom: 22px;

  @include mapa;
  @include font(14px, 16px, 400);

  font-family: PT Mono;
  color: $white;
  opacity: 0.5;
  transform: rotate(-90deg);
  transition: 0.5s;

  &:hover {
    color: $cyan;
    transition: 0.5s;
  }
}

