.questions {
  background-color: $cyan;
  padding-top: 92px;
  padding-bottom: 114px;

  background-image: url("../img/main-triangle.svg");
  background-repeat: no-repeat;
  background-position: calc(50% - 456px) 93px;

  @media (max-width: $tablet-width-only) {
    background-image: none;
    padding-top: 78px;
    padding-bottom: 103px;
  }
}

.questions__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  background-image: url("../img/plane-desktop@1x.png");
  background-repeat: no-repeat;
  background-size: 511px 288px;
  background-position: -9px 68px;

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/plane-desktop@2x.png");
  }

  @media (max-width: $tablet-width-only) {
    background-image: none;
  }
}

.questions__form-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-self: flex-end;
  width: 574px;
  margin-left: auto;

  @media (max-width: $tablet-width-only) {
    margin-left: 0;
    width: 100%;
    padding-left: 65px;
    padding-right: 65px;
  }
}

.questions__form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 570px;
  margin-left: auto;

  @media (max-width: $tablet-width-only) {
    margin-left: 0;
    width: 100%;
  }
}

.questions h2 {
  font-family: "Roboto Condensed", "Arial", sans-serif;

  @include font(36px, 51px, 400);

  margin: 0;
  padding-bottom: 8px;
  color: $white;

  @media (max-width: $tablet-width-only) {
    @include font(32px, 45px, 400);
    padding-bottom: 17px;
  }
}

.questions p {
  @include font(16px, 22px, 400);
  color: $white;
  margin: 0;
  padding-bottom: 50px;
  padding-left: 3px;

  @media (max-width: $tablet-width-only) {
    padding-bottom: 52px;
  }
}

.questions input {
  @include mapa;
  @include font(16px, 22px, 400);

  position: relative;
  color: $white;
  padding: 14px 16px 15px;
  margin-bottom: 40px;
  width: 270px;
  border: none;
  background-color: rgba($white, 0.1);
  transition: 0.5s;

  &:focus {
    outline: none;
    box-shadow: 0px 0px 4px 6px rgba($white, 0.3);
    transition: 0.5s;
  }

  @media (max-width: $tablet-width-only) {
    padding: 14px 19px 18px;
    width: 280px;
  }
}

.questions input[name="letter"] {
  width: 100%;
  min-height: 154px;
  display: flex;
  padding-bottom: 120px;

  @media (max-width: $tablet-width-only) {
    padding-bottom: 125px;
  }
}

.questions button {
  font-family: "Roboto Condensed", "Arial", sans-serif;

  @include mapa;
  @include font(14px, 16px, 400);

  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding: 15px 78px 13px;
  border-radius: 5px;
  border: 1px solid $white;
  background-color: $cyan;
  color: $white;
  transition: 0.5s;

  &:hover {
    color: $cyan;
    background-color: $white;
    transition: 0.5s;
  }

  &:focus {
    outline: none;
    box-shadow: 0px 0px 4px 6px rgba($white, 0.3);
    transition: 0.5s;
  }

  @media (max-width: $tablet-width-only) {
    padding: 15px 86px 13px;
    margin-top: 5px;
  }
}

.questions input[type="checkbox"] {
  width: 0;
}

.questions__checkbox-indicator {
   &::after {
    position: absolute;
    left: 6px;
    top: 9px;
    content: "";
    width: 16px;
    height: 16px;
    border: 1px solid $white;
  }

  &::before {
    position: absolute;
    left: 10px;
    top: 13px;
    content: "";
    width: 10px;
    height: 7px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media (max-width: $tablet-width-only) {
    &::after {
      top: 14px;
    }

    &::before {
      top: 18px;
    }
  }
}

.questions__field-box input[type="checkbox"]:checked + .questions__checkbox-indicator {
  &::before {
    background-image: url("../img/icon-tick.svg");
  }
}

.questions__field-box input[type="checkbox"]:focus + .questions__checkbox-indicator {
  &::after {
    outline: none;
    box-shadow: 0px 0px 4px 6px rgba($white, 0.3);
    transition: 0.5s;
  }
}

.questions__field-box input[type="checkbox"]:disabled + .questions__checkbox-indicator {
  &::before {
    background-image: none;
  }
}

.questions__field-box {
  position: relative;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  width: 270px;

  @media (max-width: $tablet-width-only) {
    width: 275px;
  }
}

.questions label {
  @include font(14px, 16px, 400);

  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-left: 40px;
  color: rgba($white, 0.8);

  @media (max-width: $tablet-width-only) {
    padding-top: 5px;
  }
}
