.services {
  background-color: $dark;
  padding-top: 88px;
  padding-bottom: 97px;

  @media (max-width: $tablet-width-only) {
    padding-top: 50px;
    padding-bottom: 32px;
  }

  @media (max-width: $mobile-width-only) {
    padding-bottom: 34px;
  }
}

.services ul {
  list-style: none;
}

.services__wrapper {
  transition: 0.5s;

  @media (max-width: 1200px) {
    padding: 0 80px;
  }

  @media (max-width: 1100px) {
    padding: 0 50px;
  }

  @media (max-width: 1050px) {
    padding: 0 30px;
  }

  @media (max-width: $tablet-width-only) {
    padding: 0;
  }
}

.services p {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  letter-spacing: 0.003em;

  @include font(36px, 51px, 400);

  margin: 0;
  padding-bottom: 53px;
  color: $white;

  @media (max-width: 950px) {
    padding-right: 0;
  }

  @media (max-width: $tablet-width-only) {
    @include font(32px, 45px, 400);

    padding-right: 120px;
    padding-left: 25px;
    padding-bottom: 50px;
  }

  @media (max-width: $mobile-width-only) {
    @include font(28px, 40px, 400);

    padding-right: 0;
    padding-left: 25px;
    padding-bottom: 39px;
  }
}

.services h2 {
  position: relative;
  z-index: 5;
  font-family: "Roboto Condensed", "Arial", sans-serif;

  @include font(20px, 30px, 400);

  width: 100%;
  display: block;
  margin: 0;
  padding: 49px 155px 0 45px;
  color: $white;
  transition: 0.5s;

  @media (max-width: 1200px) {
    padding: 49px 105px 0 45px;
  }

  @media (max-width: $tablet-width-only) {
    padding: 38px 185px 0 42px;
    width: 55%;
  }

  @media (max-width: $mobile-width-only) {
    padding: 20px 100px 0 35px;
    width: 100%;
  }
}

.services__list {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @media (max-width: $tablet-width-only) {
    justify-content: center;
  }

  @media (max-width: $mobile-width-only) {
    justify-content: center;
  }
}

.services__item {
  position: relative;
  width: 370px;
  min-height: 620px;
  transition: 0.5s;
  margin-bottom: 30px;

  @media (max-width: 1200px) {
    width: 304px;
    min-height: 509px;
  }

  @media (max-width: $tablet-width-only) {
    width: 715px;
    min-height: 256px;
    margin-bottom: 46px;
  }

  @media (max-width: $mobile-width-only) {
    width: 290px;
    min-height: 256px;
    margin-bottom: 30px;
  }

  &:hover {
    box-shadow: 0 0 2px 2px $cyan;
    transition: 0.3s;
  }
}

.services__lighting {
  background-image: url("../img/lighting-desktop@1x.png");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/lighting-desktop@2x.png");
  }

  @media (max-width: $tablet-width-only) {
    background-image: url("../img/lighting-tablet@1x.png");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/lighting-tablet@2x.png");
    }
  }

  @media (max-width: $mobile-width-only) {
    background-image: url("../img/lighting-mobile@1x.png");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/lighting-mobile@2x.png");
    }
  }
}

.services__montage {
  background-image: url("../img/montage-desktop@1x.png");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/montage-desktop@2x.png");
  }

  @media (max-width: $tablet-width-only) {
    background-image: url("../img/montage-tablet@1x.png");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/montage-tablet@2x.png");
    }
  }

  @media (max-width: $mobile-width-only) {
    background-image: url("../img/montage-mobile@1x.png");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/montage-mobile@2x.png");
    }
  }
}

.services__production {
  background-image: url("../img/production-desktop@1x.png");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/production-desktop@2x.png");
  }

  @media (max-width: $tablet-width-only) {
    background-image: url("../img/production-tablet@1x.png");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/production-tablet@2x.png");
    }
  }

  @media (max-width: $mobile-width-only) {
    background-image: url("../img/production-mobile@1x.png");

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/production-mobile@2x.png");
    }
  }
}

.services__item a {
  display: block;
  width: 100%;
  height: 100%;

  &::before {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba($dark, 0.8);
    transition: 0.5s;
  }

  &::after {
    position: absolute;
    right: 0;
    bottom: 0;
    content: "";
    width: 63px;
    height: 63px;
    background-color: $cyan;
    background-image: url("../img/arrow-right.svg");
    background-repeat: no-repeat;
    background-size: 12px 10px;
    background-position: 26px center;
    transition: 0.5s;
  }

  &:hover {
    h2 {
      color: $cyan;
      transition: 0.5s;
    }

    &::before {
      background-color: rgba($dark, 0.6);
    }

    &::after {
      background-color: $dark;
      transition: 0.5s;
    }
  }
}
